
{:pom {:group-id "respo",
       :artifact-id "ui",
       :version "0.3.12-a1",
       :name "Tiny collection of styles used in Respo"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
